<h2>About</h2>

<p class="info-content">Jin's Mental Arithmetic Academy began 28 years ago in the home of Mrs. Chen. Prior to moving to San Jose, California, Mrs. Chen taught abacus for 12 years in Taiwan. At the time, class sizes were small as abacus was a new cultural phenomenon; through word of mouth, interest in learning abacus quickly spread among the community.</p>

<p class="info-content">With a growing number of students, Mrs. Chen eventually expanded her classroom to the current location. Today, classes are held for students in all age groups, ranging from elementary school all the way through high school.</p>

<p class="info-content">In addition to classes, Mrs. Chen provides the opportunity for students travel around the world to compete in global abacus and mental arithmetic competitions. Her students have attended competitions in Los Angeles and Oregon, and have also traveled internationally to locations including China, Taiwan, Japan, Malaysia, Singapore, Thailand and many other countries.</p>

<p class="info-content">Jin's Mental Arithmetic Academy not only provides an educational environment but also a place where students build valuable friendships and assist in each other's growth through mutual encouragement and healthy competition.</p>