<h2>Get in touch</h2>
<p class="connect-info"><a href="mailto:info@jinsabacus.com">info@jinsabacus.com</a></p>
<p class="connect-info"><span>Phone:</span><a href="tel:+14083662115">(408) 366-2115</a></p>
<p class="connect-info"><span>Address:</span><a href="https://goo.gl/maps/2ieJiWU6BS72">1135 South De Anza Boulevard
San Jose, California 95129</a></p>
<p class="info-content">We are located on the 2nd Floor of the First Commercial Bank. The entrance is located next to Tiffany's Beauty Salon.</p>
<p class="connect-info">Classroom Hours</p>
<table>
	<tr>
		<td>Mon - Wed</td>
		<td>3:00 PM to 8:30 PM</td>
	</tr>
	<tr>
		<td>Thu - Fri</td>
		<td>3:00 PM to 6:30 PM</td>
	</tr>
	<tr>
		<td>Sat</td>
		<td>9:00 AM to 6:00 PM</td>
	</tr>
	<tr>
		<td>Sun</td>
		<td>9:00 AM to 10:30 AM</td>
	</tr>
</table>