<ul>
	<li>
		<h2>What is Abacus?</h2>
		<p class="info-content">An ancient calculator used primarily in Asia, the abacus has fallen out of modern use with the invention and widespread access of computers and electronic calculators.</p>
		<p class="info-content">With the abacus, an individual can perform basic calculations faster than a calculator. In the mid 1900s, a competition was held in Japan between the abacus and an electric calculator. In terms of speed and accuracy, the abacus prevailed in addition, division, and subtraction as well as a problem combining all four, while the electric calculator only won in multiplication.</p>
	</li>
	<li>
		<h2>How can abacus benefit my child?</h2>
		<p class="info-content">In elementary school, abacus gives students an edge over their classmates in mathematics and helps in boosting their brain development. While primarily focused on enhancing children's mathematical aptitude, learning abacus also builds confidence and self-esteem, teaches discipline and patience, and improves concentration and focus.</p>
	</li>
	<li>
		<h2>What is an appropriate age for my child to start learning abacus?</h2>
		<p class="info-content">In general, most children begin abacus class in kindergarten or when they are able to recognize and write numbers.</p>
	</li>
	<li>
		<h2>Where can I purchase an abacus?</h2>
		<p class="info-content">Please contact us regarding the purchase of an abacus.</p>
	</li>
	<li>
		<h2>What are the levels in abacus?</h2>
		<p class="info-content">There are two levels in abacus - Kyu and Dan level. The levels begin at 10 Kyu and descend to 1 Kyu. Upon achieving 1 Kyu, you move on to the Dan level, which begins from 1 Dan and ascends to 10 Dan.</p>
		<p class="info-content">To advance in levels, two level tests are offered every year in June and in December.</p>
	</li>
	<li>
		<h2>What level must my child be in order to attend a competition?</h2>
		<p class="info-content">Although there is no specific level that a child must achieve in order to compete, it is recommended that he or she have reached an appropriate level in accordance with his or her competition age group.</p>
	</li>
	<li>
		<p class="info-content">For more detailed information, please <a href="/contact/">contact us</a>.</p>
	</li>
</ul>