// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #D7B3Af;

// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Navbar
$nav-size: 60px;
$navlink-pad: ($nav-size - 20px) / 4

// Media queries

