body.nav-open {
	overflow: hidden;

	.menu-container {
		visibility: visible;
		opacity: 1;
	}
}

.header {
	.container {
		height: 100%;
	}

	.menu-container {
		float: right;

		ul {
			display: block;
			margin: 0;
			padding: 0;
		}

		@media (max-width: $screen-xs-max) {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			padding-top: $nav-size;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-color: $dark-primary;
			transition: opacity 0.2s ease-in-out, visibility 0.2s linear;

			.menu {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}

			.menu-item {
				display: block;
				margin-bottom: 20px;

				a {
					font-size: 18px;
				}
			}
		}
	}

	.menu-item {
		display: inline-block;
		padding: $navlink-pad 0;

		a {
			position: relative;
			font-weight: 700;
			display: block;
			padding: $navlink-pad 0;
			margin: 0 20px;
			color: #fff;
			text-transform: lowercase;
			text-align: center;
			-webkit-font-smoothing: antialiased;
			transition: color 0.3s ease-in-out;

			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 7px;
				left: 0;
				height: 3px;
				width: 100%;
				background-color: lighten($brand-primary, 5%);
				-webkit-transform-origin: right top;
				-ms-transform-origin: right top;
				transform-origin: right top;
				-webkit-transform: scale(0, 1);
				-ms-transform: scale(0, 1);
				transform: scale(0, 1);
				transition: transform 0.15s ease-in-out;
			}

			&:hover:before, &:focus:before {
				-webkit-transform-origin: left top;
				-ms-transform-origin: left top;
				transform-origin: left top;
				-webkit-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				transform: scale(1, 1);
			}
		}
	}

	// active nav link
	.current-menu-item {
		a:before {
			-webkit-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			transform: scale(1, 1);
		}
	}
}

.fixed-navbar {
	width: 100%;
	height: $nav-size;
	z-index: 1;
	position: fixed;
	background-color: transparent;
	transition: background-color 0.3s ease-in-out;

	&.scrolled {
		background-color: $dark-primary;
		box-shadow: 0 1px 5px rgba(0,0,0,0.18);
	}
}

.nav-container {
	margin-left: -15px;
	margin-right: -15px;
}

.logo {
	position: relative;
	z-index: 1;
	float: left;
	height: $nav-size;


	a {
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 300;
		font-size: 2em;
		color: #fff;
		text-transform: uppercase;
		-webkit-font-smoothing: antialiased;
		transition: opacity 0.3s;

		strong {
			font-weight: 800;
		}

		&:hover {
			opacity: 0.75;
		}
	}
}

.nav-button {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	margin: 20px 15px;
	padding: 0;
	border: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background: transparent;

	&:focus {
		outline: 0;
	}

	@media (min-width: $screen-sm-min) {
		display: none;
	}

	.ham-menu {
		position: relative;
		display: block;
		height: 20px;
		width: 32px;

		i {
			position: absolute;
			top: 0;
			left: 0;
			height: 4px;
			width: 100%;
			background: #fff;
			transition: background-color 0.1s, transform 0.15s;
		}

		.top_line {
			top: 0;
		}

		.mid_line {
			top: 8px;
		}

		.bot_line {
			top: 16px;
		}
	}
	&.active .ham-menu {
		.top_line {
			-webkit-transform: translateY(8px) rotate(-45deg);
			-ms-transform: translateY(8px) rotate(-45deg);
			transform: translateY(8px) rotate(-45deg);
		}

		.mid_line {
			background-color: transparent;
		}

		.bot_line {
			-webkit-transform: translateY(-8px) rotate(45deg);
			-ms-transform: translateY(-8px) rotate(45deg);
			transform: translateY(-8px) rotate(45deg);
		}
	}
}
